.home-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9% 7% 84%;
  height: 100vh;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: green;
}

.options {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: blue;
}

.content {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: black;
}
